<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
  <nav th:replace="layout/layout :: navbar"></nav>

  <div class="page-content">
    <h1>Bienvenidos a Desarrollo Empresarial</h1>
    <p>¿Que estoy loco?, puede ser cierto,
    pero recuerda... Los locos hacemos los caminos que mas tarde
    los sabios recorren</p>
    <img class="img-responsive" th:src="@{/images/bootstrap.png}" />
  </div>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Desarrollo Empresarial</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">PÁGINA DE PRUEBA</h5>
        <p class="card-text">
          <section class="content">
              <p>
                La Universidad Santo Tomás, Primer Claustro Universitario de Colombia, fue fundada por la Orden de Predicadores (O. P.) el 13 de junio de 1580.
                En 1608 se fundó el Colegio Santo Tomás y posteriormente se fusionó con la Universidad de Estudios Generales. Nació así el Colegio-Universidad Santo Tomás que posteriormente se llamaría Universidad Tomística.
                Durante casi tres siglos esta Universidad constituyó una fuente inagotable de pensamiento y cultura que formó a numerosas generaciones de neogranadinos. Entre los graduados destacados se encuentran los nombres de Andrés Rosillo (con estudios en Filosofía, Teología y Cánones), Camilo Torres, autor del célebre “Memorial de Agravios”, Francisco José de Caldas (graduado en Cánones), Francisco de Paula Santander (en Filosofía y Leyes) y Atanasio Girardot (en Cánones).
                Se restauró en Santafé de Bogotá el día 7 de marzo de 1965 por la Provincia de San Luis BERTRÁN de Colombia, de la Orden de Predicadores, con el nombre de Universidad Santo Tomás de Colombia, con personería jurídica mediante la Resolución n.º 3645 del 6 de agosto de 1965.
              </p>
          </section>
        </p>
      <a href="https://www.ustatunja.edu.co" target="_blank" class="btn btn-primary">Sigue a la USTA TUNJA</a>
    </div>
  </div>
<footer th:replace="~{layout/layout :: footer}"></footer>
</html>